.container.user-new
  = form_for(resource, as: resource_name,url: user_registration_path, html: { method: :post }) do |f|
    = devise_error_messages!
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h2 Register
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :username, placeholder: "Username"
            .user-image.col-md-2#js-main-image
              %img.image-preview-user
              = button_tag "画像を選択", class: "btn btn-primary"
              = f.file_field :avatar
          = f.email_field :email, class: "user-email", placeholder: "E-mail"
          = f.password_field :password, class: "user-password", placeholder: "Password"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_area :member, placeholder: "Member", cols: "15", rows: "2"
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :profile, placeholder: "Profile", cols: "15", rows: "2"
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.text_area :works, placeholder: "Works", cols: "15", rows: "2"
      .row.text-center.user-btn
        = f.submit "作成する", class: "btn btn-lg btn-primary btn-block"
