.row.proto-description
  .col-md-12
    = f.text_field :cach_copy, placeholder: "Cach Copy"
  .col-md-12
    = f.text_area :concept, placeholder: "Concept", cols: "30", rows: "4"
  .col-md-12
    %h4 Tag List
    .row
      .col-md-3
        = f.text_field :tag_list, placeholder: "Wed Design", name: "prototype[tag_list][]"
      .col-md-3
        = f.text_field :tag_list, placeholder: "UI", name: "prototype[tag_list][]"
      .col-md-3
        = f.text_field :tag_list, placeholder: "Application", name: "prototype[tag_list][]"
