.container.proto-new
  = form_for(@prototype) do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          = f.text_field :title, class: "proto-new-title", placeholder: "Title"
      .row
        .col-md-12
          = f.fields_for :images, @prototype.images.main do |image|
            .cover-image-upload#js-main-image
              = image_tag(image, class: 'img-responsive')
              = image.file_field :content
              = image.hidden_field :status, value: :main
            %ul.proto-sub-list.list-group
              - @prototype.images.sub.each_with_index do |image, i|
                = f.fields_for :images, image do |image_form|
                  %li.list-group-item.col-md-4
                    .image-upload{ id: "js-sub-image-#{i+1}"}
                      = image_tag(image, class: 'img-responsive')
                      = image_form.file_field :content
                      = image_form.hidden_field :status, value: :sub

      = render "form", f: f

      .row.text-center.proto-btn
        = button_tag "更新する", class: "btn btn-lg.btn-primary.btn-block", type: "submit"
