.container.user-new
  = form_for(current_user) do |f|
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        - @user.errors.full_messages.each do |message|
          = message
        .col-md-12
          %h2 Edit Profile
          .user-name_image.row
            .user-name.col-md-10
              = f.text_field :username, placeholder:"Username", value: current_user.username
            .user-image.col-md-2
              = button_tag "画像を変更する", class: "btn btn-primary"
              = f.file_field :avatar
          = f.email_field :email, class: "user-email", praceholder: "E-Mail", value: current_user.email
          = f.password_field :password, class: "user-password", placeholder: "Password"
        .col-md-12
          %h4 Member of
          .user-user-member.row
            .user-name.col-md-12
              = f.text_area :member, placeholder: "Member", value: current_user.member
          %h4 Profile
          .user-user-profile.row
            .user-name.col-md-12
              = f.text_area :profile, placeholder: "Plofile", value: current_user.profile
          %h4 Works
          .user-name_image.row
            .user-name.col-md-12
              = f.text_area :works, placeholder: "Works", value: current_user.works
      .row.text-center.user-btn
        = button_tag "変更", class: "btn btn-lg btn-primary btn-block", type: "submit"
