.container
  .form-signin
    = form_for(resource, as: resource_name, class: "", url: user_session_path, html: { method: :post}) do |f|
      = devise_error_messages!
      .h2.form-signin-heading Please sign in
      = f.email_field :email, class: "form-control", id: "inputEmail", autofocus: "", placeholder: "メールアドレス", required: ""
      = f.password_field :password, class: "form-control", id: "inputEmail", autofocus: "", placeholder: "パスワード", required: ""
      .checkbox
        %label
          = f.check_box :remember_me
          メールアドレスとパスワードを記憶する
      = f.submit "ログインする", class: "btn btn-lg btn-primary btn-block"
    .text-center
      %p
        Not a member?
        = link_to ' 新規登録 ', new_user_registration_path
