.navbar.navbar-default.navbar-static-top.navbar-fixed-top
  .container
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to prototypes_path, class: "navbar-brand" do
      = image_tag("logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: "36px")
    .navbar-collapse.collapse.navbar-responsive-collapse
      //not login
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          %li
            .btn.btn-primary.navbar-btn
              = link_to current_user.username, user_path(current_user)
          %li
            .btn.btn-primary.navbar-btn
              = link_to "プロフィール変更", edit_user_registration_path
          %li
            .btn.btn-primary.navbar-btn
              = link_to "ログアウト", destroy_user_session_path, method: :delete
          %li
            .btn.btn-primary.navbar-btn
              = link_to "プロトタイプ作成", new_prototype_path
        //login
      - else
        %ul.nav.navbar-nav.navbar-right
          %li
            .btn.btn-primary.navbar-btn
              = link_to "ログイン", new_user_session_path
          %li
            .btn.btn-primary.navbar-btn
              = link_to "新規登録", new_user_registration_path
